@import '../../assets/styles/_globals';

.navigation {
  position:relative;
  background-color: #3A9224;
}

nav {
  margin-bottom:1rem;
  height:50px;

  &.mainNav {
    margin-bottom: 0;

    .mainNav__list {
      a {
        font-size: 1.325rem;
        color: #FFF;

        &.disabled {
          color: #10290b;
          cursor:not-allowed;
        }
      }
    }
  }
}



