@import '../../assets/styles/_globals';

.navigation {
  position: relative;
}

nav {
  &.mainNav {
    .mainNav__lochgreen {
      background: url(/assets/images/lochgreen.jpg) no-repeat center/cover;
      height: 12rem;
      position: relative;
      a {
        position: relative;
      }
    }
    .mainNav__darley {
      background: url(/assets/images/darley.jpg) no-repeat center/cover;
      height: 12rem;
      position: relative;
    }
    .mainNav__belleisle {
      background: url(/assets/images/belleisle.jpg) no-repeat center/cover;
      height: 12rem;
      position: relative;
    }
    .overlay {
      width: 100%;
      height: 12rem;
      background-color: rgba(0,0,0,0.4);
      position: absolute;
      top: 0;
      left: 0;
    }
    a {
      position: absolute;
      color: #FFF;
      font-size:2rem;
      top: calc(50% - 1rem);
      left:0;
      width: 100%;
    }
    .arrow {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #1F2739;
      position: absolute;
      left: calc(50% - 17px);
      bottom: 0;
    }
  }
}



