<div class="home-page">
  <div class="row main-content">
    <div class="small-12 columns">
      <div class="row page-title">
        <div class="small-12 columns text-center">
          <h2>Lochgreen</h2>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-offset-2 end columns">
          <scorecard score-type="hole" selected-course="lochgreen"></scorecard>
        </div>
        <div class="large-8 large-offset-2 end columns mt-30">
          <scorecard score-type="round" selected-course="lochgreen"></scorecard>
        </div>
      </div>
    </div>
  </div>
</div>
