@import '../../assets/styles/_globals';

header {
  position: relative;
  height:calc(100vh - 8rem);
  min-height: 32rem;
  padding-bottom: 3.75rem;
  background: url('../../assets/images/banner.jpg') no-repeat center center/cover;

  img {

  }
}
