@import '../../assets/styles/_globals';

header {
  position: relative;
  padding-top:1rem;
  padding-bottom: 3.75rem;
  background: #194592 url('../../assets/images/grass.png') repeat-x center bottom/2.75rem;

  img {

  }
}

