@import '../../assets/styles/_globals';

header {
  background: url(/assets/images/banner.jpg) no-repeat center/cover;
  padding-top: 1rem;
  padding-bottom: 2rem;
  height:18rem;

  h1#logo {
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    color: #FFFFFF;

    span {
      font-family: 'lato', sans-serif;
      display: block;
      font-size:1rem;
      font-weight: 400;
    }
  }
}

