<div class="scorecard">
  <div class="row">
    <div class="small-12 columns text-center">
      <div class="scorecard__title">
        <h3 ng-if="vm.isBestHoleCard()">Hole by hole best score</h3>
        <h3 ng-if="vm.isBestRoundCard()">{{vm.selectedCourse}} best round</h3>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <table ng-class="vm.getRoundTypeClass()" class="scorecardTable">
        <thead>
        <tr>
          <th>Hole</th>
          <th>Yellow yards</th>
          <th>Par</th>
          <th>Score</th>
          <th ng-if="vm.isBestHoleCard()">Player</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hole in vm.courseInformation.course_holes.slice(0,9)">
          <td>{{hole.holeNumber}}</td>
          <td>{{hole.holeYards}}</td>
          <td>{{hole.holePar}}</td>
          <td>{{hole.score}}</td>
          <td ng-if="vm.isBestHoleCard()">{{vm.getPlayerNames(hole.player_id)}}</td>
        </tr>
        <tr class="scorecard__totalsRow">
          <td><strong>OUT</strong></td>
          <td>{{vm.getTotalScore(1, vm.courseInformation.course_holes, 'yards')}}</td>
          <td>{{vm.getTotalScore(1, vm.courseInformation.course_holes, 'par')}}</td>
          <td>{{vm.getTotalScore(1, vm.courseInformation.course_holes, 'score')}}</td>
          <td ng-if="vm.isBestHoleCard()">&nbsp;</td>
        </tr>
        <tr ng-repeat="hole in vm.courseInformation.course_holes.slice(9,18)">
          <td>{{hole.holeNumber}}</td>
          <td>{{hole.holeYards}}</td>
          <td>{{hole.holePar}}</td>
          <td>{{hole.score}}</td>
          <td ng-if="vm.isBestHoleCard()">{{vm.getPlayerNames(hole.player_id)}}</td>
        </tr>
        <tr class="scorecard__totalsRow">
          <td><strong>IN</strong></td>
          <td>{{vm.getTotalScore(2, vm.courseInformation.course_holes, 'yards')}}</td>
          <td>{{vm.getTotalScore(2, vm.courseInformation.course_holes, 'par')}}</td>
          <td>{{vm.getTotalScore(2, vm.courseInformation.course_holes, 'score')}}</td>
          <td ng-if="vm.isBestHoleCard()">&nbsp;</td>
        </tr>
        <tr class="scorecard__totalsRow">
          <td><strong>OUT</strong></td>
          <td>{{vm.getTotalScore(1, vm.courseInformation.course_holes, 'yards')}}</td>
          <td>{{vm.getTotalScore(1, vm.courseInformation.course_holes, 'par')}}</td>
          <td>{{vm.getTotalScore(1, vm.courseInformation.course_holes, 'score')}}</td>
          <td ng-if="vm.isBestHoleCard()">&nbsp;</td>
        </tr>
        <tr class="scorecard__totalsRow scorecard__totalsRow-total">
          <td><strong>TOTAL</strong></td>
          <td>{{vm.getTotalScore(3, vm.courseInformation.course_holes, 'yards')}}</td>
          <td>{{vm.getTotalScore(3, vm.courseInformation.course_holes, 'par')}}</td>
          <td>{{vm.getTotalScore(3, vm.courseInformation.course_holes, 'score')}}</td>
          <td ng-if="vm.isBestHoleCard()">&nbsp;</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>