@import '../../assets/styles/_globals';

.scorecard {
  font-size: 1.2rem;
  border-collapse: separate !important;
  border-radius:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow:hidden;

  thead {
    tr {
      background-color:#3f5221;
    }
    th {
      color:#FFF;
    }
  }
  tbody {
    tr{
      background-color: #c0dc94;
      &:nth-child(even) {
        background-color: #f1ffdb;
      }
    }

    td {
      font-size: 1rem;

      &.bogey {
        span {
          border: 1px solid #000;
          position: relative;
          padding-left:2px;
          padding-right:2px;
        }
      }

      &.doubleBogey {
        span {
          border: 1px solid #000;
          position: relative;
          padding-left:2px;
          padding-right:2px;
          &:before {
            content: ' ';
            position: absolute;
            border: 1px solid #000;
            top: -3px;
            left: -3px;
            right: -3px;
            bottom: -3px;
          }
        }
      }
      &.tripleBogey {
        span {
          border: 1px solid #000;
          position: relative;
          padding-left:2px;
          padding-right:2px;
          &:before {
            content: ' ';
            position: absolute;
            border: 1px solid #000;
            top: -3px;
            left: -3px;
            right: -3px;
            bottom: -3px;
          }
          &:after {
            content: ' ';
            position: absolute;
            border: 1px solid #000;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
          }
        }
      }
    }
  }


  .scorecard__totalRow {
    background-color: #4e4e4e;
    color: #FFFFFF;
    font-weight: 700;
  }
}

